{% load static %}
{% include "modal/quit.html" %}

<div class="nav-col">
  <nav class="nav-right">
    <div class="container-fluid">
      <div></div>
      <div class="ui dropdown">
        <div class="account">{{ user }}</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item nav-links quit">
            <i class="sign out alternate icon"></i>
            Logout
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/modal.js' %}"></script>
