[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
Django = "*"
django-allauth = "*"
django-compressor = "*"
django-libsass = "*"
django-cleanup = "*"
autopep8 = "*"
django-appconf = "*"
django-heroku = "*"
libsass = "*"
gunicorn = "*"
whitenoise = "*"

[requires]
python_version = "3.8.2"

[pipenv]
allow_prereleases = true
