.shop{
  h1{
    padding-top: 2.25em;
  }

  .header{
    font-size: 1.7em;
    padding-top: 1.7em;
    color: #5D5D5D;
  }

  .price{
    color: #4085F6;
    font-size: 3em;
    padding: .7em;
  }

  .description{
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 1.7em;
  }

  p{
    font-size: 1.3em;
  }

  .information{
    font-size: 1.15em;
    margin-bottom: .3em;
  }

  .check{
    color: #4085F6;
    margin-right: .45em;
  }

  .times{
    color: rgba(255, 65, 51, 0.904);
    margin-right: .45em;
  }

  .plans{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 6.5em;

    .best{
      background: rgb(59,132,254);
      background: linear-gradient(90deg, rgba(59,132,254,1) 0%, rgba(34,107,226,1) 100%);
      color: $white;

      .header{
        color: $white;
      }

      .check{
        color: $white;
      }

      .times{
        color: rgb(255, 128, 119) !important;
      }

      .price{
        color: $white;
      }

      .description{
        font-weight: normal;
      }

      .register{
        border: 2px solid $white !important;
        background: $white;
      }
    }

    .plan{
      width: 26%;
      border: 2px solid #226BE2;
      border-radius: 1.2em;
      padding-bottom: 2em;

      .register{
        width: 48%;
        margin: auto;
        margin-top: 1.5em;
        text-align: center;
        font-size: 1.65em;
        border: 2px solid #226BE2;
        color: rgba(34, 108, 226, 0.801);
        border-radius: 1em;
        padding: .45em;
      }

      .register:hover{
        background: #226BE2;
        color: $white;
        transition: .6s;
      }
    }
  }
}
