.shop {
  h1 {
    padding-top: 1.3em;
  }

  .switch{
    margin-bottom: 2.5em;

    .type{
      margin: .8em;
      font-size: 1.4em;
    }

    .type:last-child{
      margin: .1em;
    }

    .checkbox{
      vertical-align: middle;
      margin-bottom: .25em;

      label::before{
        background: rgba(0, 0, 0, 0.15);
      }
    }
  }

  .header {
    font-size: 1.7em;
    padding-top: 1.7em;
    color: #5d5d5d;
  }

  .price {
    color: #4085f6;
    font-size: 3em;
    padding: 0.7em;
  }

  .description {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 1.7em;
  }

  p {
    font-size: 1.3em;
  }

  .information {
    font-size: 1.15em;
    margin-bottom: 0.3em;
  }

  .check {
    color: #4085f6;
    margin-right: 0.45em;
  }

  .times {
    color: rgba(255, 65, 51, 0.904);
    margin-right: 0.45em;
  }

  .plans {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 4em;
    flex-wrap: wrap;

    .not-available {
      cursor: not-allowed;
      background-image: url(../img/status/not-available.png);
      background-size: cover;
      background-repeat: no-repeat;
    }

    .best {
      background: rgb(59, 132, 254);
      background: linear-gradient(90deg, rgba(59, 132, 254, 1) 0%, rgba(34, 107, 226, 1) 100%);
      color: $white;

      .header {
        color: $white;
      }

      .check {
        color: $white;
      }

      .times {
        color: rgb(255, 128, 119) !important;
      }

      .price {
        color: $white;
      }

      .description {
        font-weight: normal;
      }

      .register {
        border: 2px solid $white !important;
        background: $white;
      }
    }

    .plan {
      width: 26%;
      border: 2px solid #226be2;
      border-radius: 1.2em;
      padding-bottom: 2em;

      .register {
        width: 48%;
        margin: auto;
        margin-top: 1.5em;
        text-align: center;
        font-size: 1.65em;
        border: 2px solid #226be2;
        color: rgba(34, 108, 226, 0.801);
        border-radius: 1em;
        padding: 0.45em;
      }

      .register:hover {
        background: #226be2;
        color: $white;
        transition: 0.6s;
      }

      .owned {
        cursor: not-allowed;
      }

      .gears-img{
        width: 30px;
        margin-left: .15em;
      }
    }
  }

  .currency{
    flex-wrap: wrap;
    margin-bottom: 6.5em;
    margin-top: 0em;
    display: none;

    .plan:last-child{
      margin-top: 1.4em;
    }

    img{
      width: 20%;
    }
  }
}

.checkout{
  .product{
    display: flex;
    margin-top: 1em;

    .information{
      width: 50%;
      display: flex;
      padding: 1em;
      margin: auto;

      .data{
        width: 60%;

        .gears{
          font-size: 2em;
          padding: 0.5em;
          color: #5d5d5d;
        }

        .price-product{
          color: #4085f6;
          font-size: 3em;
          padding: 0.5em;
        }
      }

      .img{
        img{
          height: 135px;
        }
      }
    }

    .pay-methods{
      width: 45%;
      margin: auto;
    }
  }
}