{% extends "layouts/default.html" %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="background">
  <div class="custom-form space">
    <ul class="tab-group">
      <li class="tab"><a href="{{ signup_url }}">Sign Up</a></li>
      <li class="tab active"><a>Log In</a></li>
    </ul>
    <div id="login">
      <h1 class="white">Welcome Back!</h1>
      <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
          <div class="field-wrap">
            {{ form.as_p }}
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
          </div>
        <p class="forgot"><a href="{% url 'account_reset_password' %}">Forgot Password?</a></p>
        <button class="button button-block" type="submit">Login &raquo;</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
