{% extends "layouts/default.html" %}

{% load static %}

{% block title %}Change Password{% endblock %}

{% block content %}

<div class="background">
  <div class="custom-form space">
    <div id="login">
      <h1 class="white">Change Password</h1>
      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button button-block" type="submit" name="action">Change Password</button>
    </form>
    </div>
  </div>
</div>

{% endblock %}
