{% extends "layouts/default.html" %}

{% load static %}
{% load account %}

{% block title %}Password Reset{% endblock %}

{% block content %}

<div class="background">
  <div class="custom-form space">
    <div id="login">
      <h1 class="white">Sign Out</h1>
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      <p class="white bigger-p text-center space-p">We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
    </div>
  </div>
</div>

{% endblock %}
