{% extends "layouts/default.html" %}

{% load static %}

{% block content %}
<div class="background">
  <div class="regulation-container">
    <div class="topic text-center">Polityka prywatności witryny „sfbot.olaf-jaworski.codes”</div>
    <div class="desc">* Niniejsza Polityka prywatności ma na celu zapewnienie poczucia bezpieczeństwa każdemu użytkownikowi witryny internetowej sfbot.olaf-jaworski.codes. Korzystanie z naszej witryny internetowej jest równoznaczne z akceptacją warunków Polityki prywatności.</div>
    <div class="block">
      <div class="header">I. Administrator</div>
      <div class="line"></div>
      <div class="policy-info">
        <div class="item">Administratorem danych jest „Olaf Jaworski” z siedzibą w Tarnowskich Górach, o numerze NIP: 999666999, i numerze REGON: 999666999. Ochrona danych odbywa się zgodnie z wymogami powszechnie obowiązujących przepisów prawa, a ich przechowywanie ma miejsce na zabezpieczonych serwerach.</div>
      </div>
    </div>

    <div class="block">
      <div class="header">II. Pliki cookies</div>
      <div class="line"></div>
      <div class="policy-info">
        <div class="item">Witryna sfbot.olaf-jaworski.codes używa cookies. Są to niewielkie pliki tekstowe wysyłane przez serwer www i przechowywane przez oprogramowanie komputera przeglądarki. Kiedy przeglądarka ponownie połączy się ze stroną, witryna rozpoznaje rodzaj urządzenia, z którego łączy się użytkownik. Parametry pozwalają na odczytanie informacji w nich zawartych jedynie serwerowi, który je utworzył. Cookies ułatwiają więc korzystanie z wcześniej odwiedzonych witryn.</div>
        <div class="item">Gromadzone informacje dotyczą adresu IP, typu wykorzystywanej przeglądarki, języka, rodzaju systemu operacyjnego, dostawcy usług internetowych, informacji o czasie i dacie, lokalizacji oraz informacji potrzebnych do zapewnienia logowania do serwisu jak i wyświetlania komunikatów.</div>
      </div>
    </div>

    <div class="block">
      <div class="header">III. Zalety plików cookies</div>
      <div class="line"></div>
      <div class="policy-info">
        <div class="item">Zebrane dane służą do monitorowania i sprawdzenia, w jaki sposób użytkownicy korzystają z naszych witryn, aby usprawniać funkcjonowanie serwisu zapewniając bardziej efektywną i bezproblemową nawigację.</div>
        <div class="item">Cookies identyfikuje użytkownika, co pozwala na dopasowanie treści witryny, z której korzysta, do jego potrzeb. Zebrane dane są wykorzystywane jedynie wewnątrz firmy „CleverBot@Entertainment” w celu optymalizacji działań oraz celach niezbędnych do funkcjonowania witryny (takich jak logowanie).</div>
      </div>
    </div>

    <div class="block">
      <div class="header">IV. Bezpieczeństwo danych</div>
      <div class="line"></div>
      <div class="policy-info">
        <div class="item">Dane są przechowywane i przetwarzane w sposób zgodny z wymogami prawa. Szanujemy prywatność naszych użytkowników, dlatego magazynowane dane są poufne i nie są udostępniane osobom trzecim. Ich zabezpieczenie ma dla nas wysoki priorytet, dlatego gromadzone są na bezpiecznych i chronionych serwerach.</div>
        <div class="item">Cookies nie ma dostępu do danych zawartych na dysku użytkownika, ani możliwości ustalenia jego tożsamości. Nie śledzi także jego aktywności, którą wykonują po opuszczeniu naszej witryny.</div>
      </div>
    </div>

    <div class="block">
      <div class="header">V. Rodzaje używanych plików cookies</div>
      <div class="line"></div>
      <div class="policy-info">
        <div class="item">Na naszej witrynie wykorzystujemy następujące pliki cookies:</div>
        <div class="item">
          <ol>
            <li>„niezbędne” pliki cookies, umożliwiające korzystanie z usług dostępnych w ramach serwisu, np. uwierzytelniające pliki cookies wykorzystywane do usług wymagających uwierzytelniania w ramach serwisu;</li>
            <li>pliki cookies służące do zapewnienia bezpieczeństwa, np. wykorzystywane do wykrywania nadużyć w zakresie uwierzytelniania w ramach serwisu;</li>
            <li>„funkcjonalne” pliki cookies, umożliwiające „zapamiętanie” wybranych przez użytkownika ustawień i personalizację interfejsu użytkownika, np. w zakresie wybranego języka lub regionu, z którego pochodzi użytkownik, rozmiaru czcionki, wyglądu strony internetowej itp.;</li>
            <li>„informacyjne” pliki cookies, umożliwiające dostarczanie użytkownikom powiadomień w obrębie witryny sfbot.olaf-jaworski.codes.</li>
          </ol>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="header">VI. Zarządzanie plikami cookies</div>
      <div class="line"></div>
      <div class="policy-info">
        <div class="item">Użytkownik w każdej chwili ma możliwość wyłączenia lub przywrócenia opcji gromadzenia cookies poprzez zmianę ustawień w przeglądarce internetowej. Instrukcja zarządzania plikami cookies jest dostępna na stronie http://www.allaboutcookies.org/manage-cookies/.</div>
        <div class="item">Dodatkowe dane osobowe, jak adres e-mail, zbierane są jedynie w miejscach, w których użytkownik wypełniając formularz wyraźnie wyraził na to zgodę. Powyższe dane zachowujemy i wykorzystujemy tylko do potrzeb niezbędnych do wykonania danej funkcji.</div>
      </div>
    </div>

    <div class="block">
      <div class="header">VII. Postanowienia końcowe</div>
      <div class="line"></div>
      <div class="policy-info">
        <div class="item">Powyższy dokument obowiązuje jedynie na witrynie sfbot.olaf-jaworski.codes i wszystkich subdomenach. Nie ponosimy odpowiedzialności za zasady zachowania prywatności na innych stronach, łącznie z witrynami, do których kierują odnośniki zawarte na stronie sfbot.olaf-jaworski.codes. W przypadku korzystania z innych witryn prosimy o zapoznanie się z Polityką prywatności i polityką plików cookies, ustaloną przez przeglądaną witrynę.</div>
        <div class="item"></div>
      </div>
    </div>

  </div>
</div>
{% endblock %}