{% extends "layouts/default.html" %}

{% load static %}

{% block content %}
<div class="background">
<div class="regulation-container">
  <div class="topic text-center">Regulamin świadczenia usługi „SFBot”</div>

  <div class="block">
    <div class="header">I. Postanowienia wstępne</div>
    <div class="line"></div>
    <div class="informations">
      <div class="item">1. Niniejszy Regulamin określa zasady świadczenia przez Usługodawcę drogą elektroniczną, za pośrednictwem serwisu internetowego „sfbot.olaf-jaworski.codes”, Usługi „SFBot”, umożliwiającej dostęp do funkcjonalności Oprogramowania „SFBot” za pośrednictwem przeglądarek internetowych, w tym warunki techniczne świadczenia przedmiotowej usługi.</div>
      <div class="item">2. Serwis internetowy pod adresem „sfbot.olaf-jaworski.codes” oraz jego subdomenach, prowadzony jest przez Olafa Jaworskiego” z siedzibą w Tarnowskich Górach, o numerze NIP: 999666999, i numerze REGON: 999666999.</div>
      <div class="item">3. Składając zamówienie na oferowaną przez Usługodawcę Usługę „SFBot” Usługobiorca potwierdza, że zapoznał się z treścią niniejszego Regulaminu, akceptuje zawarte w nim postanowienia oraz zobowiązuje się do ich przestrzegania. Brak akceptacji Regulaminu uniemożliwia złożenie zamówienia i korzystanie z Usługi „SFBot”.</div>
    </div>
  </div>

  <div class="block">
    <div class="header">II. Definicje</div>
    <div class="line"></div>
    <div class="informations">
      <div class="item">1. Producent, Usługodawca – „Olaf Jaworski” z siedzibą w Tarnowskich Górach, o numerze NIP: 999666999, i numerze REGON: 999666999.</div>
      <div class="item">2. Usługobiorca – przedsiębiorca w rozumieniu art. 431 k.c. (osoba fizyczna, prawna lub jednostka organizacyjna nieposiadająca osobowości prawnej), na rzecz którego Usługodawca świadczy Usługę „SFBot”;</div>
      <div class="item">3. Usługa „SFBot” – świadczona drogą elektroniczną przez Usługodawcę na rzecz Usługobiorcy usługa dostępu do funkcjonalności Oprogramowania „SFBot”;</div>
      <div class="item">4. Oprogramowanie „SFBot” – oprogramowanie komputerowe stanowiące utwór w rozumieniu ustawy z dnia 4 lutego 1994 r. o Prawie autorskim i prawach pokrewnych, oferowane przez Usługodawcę za pośrednictwem Serwisu Internetowego;</div>
      <div class="item">5. Serwis Internetowy – witryna internetowa Usługodawcy działająca pod adresem: „sfbot.olaf-jaworski.codes”; i umożliwiająca Usługobiorcy dostęp do Usługi „SFBot”;</div>
      <div class="item">6. System zamówień serwisu internetowego „sfbot.olaf-jaworski.codes” – wyodrębniona część Serwisu Internetowego umożliwiająca Usługobiorcy składanie zamówień na Usługę „SFBot”;</div>
      <div class="item">7. Formularz Rejestracji – formularz zamieszczony na stronie internetowej „sfbot.olaf-jaworski.codes” umożliwiający rejestrację Usługobiorcy w Serwisie Internetowym za pośrednictwem którego Usługobiorca może uzyskać dostęp do Usługi „SFBot”;</div>
      <div class="item">8. Instancja – wyodrębniona część Serwisu Internetowego, w którym znajdują się zapisane dane Usługobiorcy (podane przez Usługobiorcę w Formularzu Rejestracyjnym oraz wprowadzone do aplikacji w wyniku korzystania z usługi), do których Usługobiorca uzyskuje dostęp po zalogowaniu się przy użyciu loginu i hasła do utworzonych kont;</div>
      <div class="item">9. Opłata Abonamentowa – opłata uiszczana przez Usługobiorcę z tytułu korzystania z usługi „SFBot”, zgodnie ze stawkami określonymi w Cenniku;</div>
      <div class="item">10. Cennik – dokument udostępniony w Serwisie Internetowym określający wysokość aktualnych opłat za korzystanie z Usługi „SFBot”;</div>
      <div class="item">11. Regulamin – niniejszy regulamin świadczenia drogą elektroniczną Usługi „SFBot”;</div>
    </div>
  </div>

  <div class="block">
    <div class="header">III. Rodzaj i zakres usług świadczonych drogą elektroniczną</div>
    <div class="line"></div>
    <div class="informations">
      <div class="item">1. Na warunkach określonych w niniejszym Regulaminie Usługodawca świadczy, za pośrednictwem Serwisu Internetowego, na rzecz Usługobiorcy usługę w postaci umożliwienia Usługobiorcy korzystania z funkcjonalności Oprogramowania „SFBot”. W celu uzyskania dostępu do Usługi „SFBot”, Usługodawca wypełnia zamieszczony w Serwisie Internetowym Formularz Rejestracyjny i zakłada Konto w systemie zamówień, które jest prowadzone przez Usługodawcę. Po wybraniu i opłaceniu taryfy udostępniany jest dostęp do wydzielonej Instancji zawierającej docelową funkcjonalność.</div>
    </div>
  </div>

  <div class="block">
    <div class="header">IV. Warunki świadczenia usług drogą elektroniczną</div>
    <div class="line"></div>
    <div class="informations">
      <div class="item">1. Usługa w postaci prowadzenia Konta w Serwisie Internetowym jest realizowana przez Usługodawcę od momentu założenia Konta przez Usługobiorcę do czasu złożenia przez niego dyspozycji usunięcia Konta. Usługa prowadzenia Konta Usługobiorcy jest nieodpłatna.</div>
      <div class="item">2. Usługa „SFBot” jest realizowana na rzecz Usługobiorcy (aktywowana) po uprzednim założeniu przez Usługobiorcę Konta, zaakceptowaniu niniejszego Regulaminu oraz uiszczeniu należnej Opłaty Abonamentowej.</div>
      <div class="item">
        3. W celu skorzystania z usług wskazanych w pkt III. Usługodawca winien dysponować:
        <ul>
          <li>urządzeniem komputerowym z systemem operacyjnym Linux, Windows, Mac OS, Android lub równoważnym,</li>
          <li>dostępem do Internetu gwarantującym nieprzerwany dostęp do Serwisu Internetowego o przepustowości co najmniej 50 kB/s,</li>
          <li>poprawnie skonfigurowaną, nowoczesną przeglądarką internetową (Firefox, Chrome, Opera, Vivaldi)</li>
        </ul>
      </div>
      <div class="item">4. Zamówienia Usługobiorcy na Usługę „SFBot” są przyjmowane i rejestrowane przez Usługodawcę przez 24 godziny na dobę przez cały rok kalendarzowy.</div>
      <div class="item">5. Warunkiem koniecznym do realizacji zamówienia na Usługę „SFBot” jest dokonanie przez Usługobiorcę rejestracji w Systemie zamówień serwisu internetowego „sfbot.olaf-jaworski.codes”. Przy tym podanie poprawnego adresu e-mail Usługobiorcy jest niezbędne do potwierdzenia przyjęcia realizacji zamówienia.</div>
      <div class="item">6. Zamówienia na Usługę „SFBot”, co do których istnieją jakiekolwiek wątpliwości będą weryfikowane i mogą zostać anulowane przez Usługodawcę. Usługobiorca zostanie poinformowany o tym fakcie mailowo na podany przez niego adres e-mail.</div>
      <div class="item">7. Zamówienia na Usługę „SFBot” są realizowane na cały świat.</div>
      <div class="item">8. Czas realizacji zamówienia Usługobiorcy jest możliwie jak najkrótszy. We wszystkich przypadkach jest zależny od daty zaksięgowania na koncie Usługodawcy uiszczonej przez Usługobiorcę Opłaty Abonamentowej w pełnej wysokości. W wyjątkowych sytuacjach czas realizacji zamówienia (aktywacji Usługi „SFBot”) może ulec wydłużeniu. Zamawiający może nie wyrazić na to zgody i ma w takim wypadku ma prawo zrezygnować z zamówienia.</div>
      <div class="item">9. Stawki Opłat Abonamentowych podane w Cenniku znajdującym się Serwisie Internetowym wyrażone są w euro.</div>
      <div class="item">10. Do każdego osobnego zamówienia Usługobiorcy generowany jest dowód zakupu.</div>
      <div class="item">11. Okres abonamentowy z tytułu świadczenia Usługi „SFBot” wynosi 30 dni. Czas trwania opłaconego abonamentu zaczyna biec od dnia aktywowania Usługi „Asystent Dzierżawy” przez Usługodawcę.</div>
      <div class="item">12. Zmiany Cennika Opłat Abonamentowych są ogłaszane w Serwisie Internetowym poprzez publikację aktualnego Cennika Opłat Abonamentowych. Zmiana Cennika Opłat Abonamentowych nie wpływa na zmianę wysokości Opłat Abonamentowych uiszczonych przez Usługobiorcę przed opublikowaniem zmienionego cennika.</div>
      <div class="item">13. Usługobiorca zobowiązuje się do respektowania zakazu dostarczania treści o charakterze bezprawnym, o którym mowa w art. 8 ust. 3 pkt 2 lit. b) ustawy o świadczeniu usług drogą elektroniczną z dnia 18 lipca 2002 r. (Dz. U. Nr 144, poz. 1204). Nadto Usługobiorca zobowiązuje się do niepodejmowania jakichkolwiek działań zmierzających do zakłócenia funkcjonowania Serwisu Internetowego.</div>
      <div class="item">14. Usługodawca nie ponosi odpowiedzialności w razie zaistnienia zakłóceń w realizacji Usługi „SFBot” wywołanych siła wyższą, awariami sprzętu, przerwami w dostawie prądu, przerwami w łączności z siecią Internet, nieuprawnioną ingerencją Usługobiorców lub osób trzecich, błędnym działaniem systemów telekomunikacyjnych, oprogramowaniem zainstalowanym na sprzęcie komputerowym Usługobiorcy.</div>
      <div class="item">15. Odpowiedzialność odszkodowawcza Licencjodawcy związana z nienależytym wykonywaniem Usługi „SFBot” może dotyczyć jedynie szkody rzeczywistej. Usługodawca nie ponosi odpowiedzialności za utracone korzyści, utratę danych, lub szkody pośrednie Usługobiorcy. Ewentualna odpowiedzialność odszkodowawcza Usługodawcy powstała w związku z niniejszą umową ogranicza się do kwoty zapłaconej przez Usługobiorcę Opłaty Abonamentowej w okresie abonamentowym, w którym miało miejsce nienależyte wykonanie usługi. Niniejsze ograniczenie odpowiedzialności znajduje zastosowanie niezależnie od podstawy prawnej dochodzonego roszczenia. Powyższe ograniczenie nie dotyczy sytuacji, w której odpowiedzialność w pełnej wysokości jest określona bezwzględnie obowiązującymi przepisami prawa.</div>
      <div class="item">16. Usługodawca nie gwarantuje, że Usługa „SFBot” będzie spełniała wszystkie oczekiwania Usługobiorcy. W interesie Licencjobiorcy leży zapoznanie się z funkcjonalnościami Oprogramowania „SFBot” przed zawarciem umowy świadczenia Usługi „SFBot”.</div>
    </div>
  </div>

  <div class="block">
    <div class="header">V. Warunki zawierania i rozwiązywania umów o świadczenie usług drogą elektroniczną</div>
    <div class="line"></div>
    <div class="informations">
      <div class="item">
        1. Zawarcie umowy o świadczenie usługi drogą elektroniczną następuje z chwilą zaistnienia jednego z poniższych zdarzeń:
        <ul>
          <li>założenia Konta przez Usługobiorcę i pierwszego zalogowania się Usługobiorcy na Koncie, przy użyciu loginu i hasła Usługobiorcy. W tym celu Usługobiorca zobowiązany jest do podania zgodnych ze stanem faktycznym danych Usługobiorcy – dotyczy usługi prowadzenia Konta,</li>
          <li>aktywacji usługi przez Usługodawcę, co nastąpi niezwłocznie po zaksięgowaniu przez Usługodawcę wpłaty uiszczonej przez Usługobiorcę Opłaty Abonamentowej w należnej wysokości – dotyczy Usługi „SFBot”,</li>
        </ul>
      </div>
      <div class="item">
        2. Rozwiązanie umowy o świadczenie usługi drogą elektroniczną następuje z chwilą zaistnienia poniższego zdarzenia:
        <ul>
          <li>łożenia przez Usługobiorcę dyspozycji usunięcia Konta, za pośrednictwem poczty e-mail na adres e-mail Usługodawcy – dotyczy usługi prowadzenia Konta,</li>
        </ul>
      </div>
      <div class="item">3. Nadto Usługodawca zastrzega możliwość ograniczenia/pozbawienia Usługobiorcy prawa do korzystania z usług, o których mowa w pkt III Regulaminu, poprzez zastosowanie blokady lub usunięcie Konta, w przypadku naruszenia przez Usługobiorcę postanowień niniejszego Regulaminu, lub przepisów prawa powszechnie obowiązującego, po wcześniejszym wezwaniu Usługobiorcy do zaprzestania naruszeń i bezskutecznym upłynięciu 7-dniowego terminu na zastosowanie się do wezwania Usługodawcy. W przypadku zastosowania przez Usługodawcą powyższych środków, uiszczone przez Usługobiorcę Opłaty Abonamentowe nie podlegają zwrotowi.</div>
    </div>
  </div>

  <div class="block">
    <div class="header">VI. Tryb postępowania reklamacyjnego dotyczącego umów o świadczenie usług drogą elektroniczną</div>
    <div class="line"></div>
    <div class="informations">
      <div class="item">1. Reklamacje dotyczące usług, o których mowa w pkt III Regulaminu a także związane z rozliczeniami, Usługobiorca może składać za pośrednictwem poczty e-maila na adres: „kontakt@sfbot.com”.</div>
      <div class="item">2. Treść reklamacji dotyczących niewykonywania lub nieprawidłowego wykonywania Usługi „SFBot” winna zawierać: a) dane kontaktowe Usługobiorcy, b) precyzyjny opis zaistniałych nieprawidłowości w świadczeniu usługi, c) termin wystąpienia i czas trwania wskazywanych nieprawidłowości.</div>
      <div class="item">3. Reklamacje dotyczące rozliczeń, w tym co do wysokości kwot z tytułu Opłat Abonamentowych powinny wskazywać: numer zamówienia, datę jej wystawienia oraz stwierdzoną nieprawidłowość.</div>
      <div class="item">4. Reklamacje będą rozpatrywane przez Usługodawcę niezwłocznie, nie później niż w ciągu 30 dni kalendarzowych od daty otrzymania reklamacji. W razie konieczności przeprowadzenia dodatkowych czynności diagnostycznych, Usługodawca zastrzega sobie prawo przedłużenia powyższego okresu czasu, stosownie do czasu potrzebnego na wykonanie przedmiotowych czynności diagnostycznych. O sposobie rozpatrzenia reklamacji Usługodawca poinformuje Usługobiorcę e-mailem wysłanym na adres e-mail podany przez Usługobiorcę.</div>
      <div class="item">
        5. Reklamacje nie będą mogły zostać uwzględnione w przypadku, gdy:
        <ul>
          <li>zgłaszający reklamację nie uiścił Opłaty Abonamentowej i nie posiada prawa do korzystania z Usługi „SFBot”,</li>
          <li>nieprawidłowość wykonywania Usługi „SFBot” została wywołana awarią systemu operacyjnego, innego oprogramowania trzeciego lub samego sprzętu komputerowego (komputer, serwer, sieć komputerowa), na jakim Usługa „SFBot” jest świadczona,</li>
          <li>usługa „SFBot” jest realizowana przez Usługobiorcę na sprzęcie niespełniającym minimalnych wymagań systemowych lub nieposiadającym parametrów technicznych umożliwiających poprawną pracę, w tym co do ilości przetwarzanych danych,</li>
          <li>reklamacja jest wynikiem zainfekowania komputera lub sieci komputerowej Usługobiorcy przez wirusy, trojany lub oprogramowanie szpiegowskie,</li>
          <li>przyczyną reklamacji są problemy Usługobiorcy z użytkowanym łączem internetowym (jego awariami, zbyt niskimi parametrami łącza lub jego niestabilnością. W szczególności dotyczy to łącz telefonii komórkowych, radiowych lub satelitarnych),</li>
          <li>przyczyną reklamacji jest utrata danych po okresie zakończenia terminu świadczenia usługi „SFBot” za który została uiszczona Opłata Abonamentowa.</li>
          <li>przyczyną reklamacji jest zapomnienie przez Usługobiorcę email'a ,hasła i/lub loginu do Konta,</li>
          <li>przyczyna reklamacji jest ujawnienie przez Usługobiorcę danych poufnych (login, hasło, parametry sieci, inne…) nieuprawnionym osobom trzecim,</li>
          <li>reklamacja dotyczy utraty danych po okresie zakończenia okresu abonamentowego (rozwiązaniu umowy).</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="header">VII. Ochrona danych osobowych</div>
    <div class="line"></div>
    <div class="informations">
      <div class="item">1. Administratorem danych osobowych Usługobiorców jest Usługodawca („Olaf Jaworski” z siedzibą w Tarnowskich Górach, o numerze NIP: 999666999, i numerze REGON: 999666999) z którym Usługobiorcy mogą się kontaktować pod adresem mailowym „kontakt@sfbot.com”.</div>
      <div class="item">2. Dane osobowe Usługobiorców są przetwarzane przez Usługodawcę zgodnie z przepisami dotyczącymi ochrony danych osobowych, w tym w szczególności Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 roku w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE („RODO”).</div>
      <div class="item">
        3. Dane osobowe Usługobiorców przetwarzane są przez Usługodawcę w celu:
        <ul>
          <li>realizacji umowy o świadczenie usługi „SFBot” (na podstawie art. 6 ust. 1 lit. a i b RODO);</li>
          <li>wypełnienia obowiązku prawnego Usługodawcy (na podstawie art. 6 ust. 1 lit. c i ust. 3 RODO);</li>
          <li>marketingu produktów lub usług własnych, (na podstawie art. 6 ust. 1 lit. f RODO);</li>
          <li>dochodzenia lub zabezpieczenia roszczeń (na podstawie art. 6 ust. 1 lit. f RODO).</li>
        </ul>
      </div>
      <div class="item">
        4. Podanie danych osobowych jest dobrowolne, jednakże konsekwencją niepodania danych osobowych będzie niemożność realizacji umowy o świadczenie usługi „SFBot”. Dla uzyskania dostępu do usług świadczonych w ramach „SFBot” niezbędne jest założenie Konta poprzez podanie adresu e-mail. Uzyskanie dostępu do szerszego zakresu usług „SFBot” może wymagać podania następujących danych:
        <ul>
          <li>imię i nazwisko;</li>
          <li>email;</li>
        </ul>
      </div>
      <div class="item">5. Oprogramowanie „SFBot”, służy do automatycznego zarządzania kontem Usługobiorcy, w czasie jego nieaktywności. Usługobiorca decyduje o zakresie wykonywanych czynnoścci przez usługę „SFBot”. Usługodawca nie weryfikuje rodzaju danych wprowadzonych przez użytkowników usługi „SFBot” i nie ingeruje w ich treść. Usługobiorca ponosi pełną odpowiedzialność z tytułu wprowadzenia danych przez użytkowników usługi „SFBot”.</div>
      <div class="item">6. Dane osobowe Usługobiorcy, dobrowolnie przekazane Usługodawcy w związku z procesem tworzenia Konta Usługobiorcy i w związku ze składanymi przez Usługobiorcę zamówieniami przechowywane są na serwerze Usługodawcy, znajdującym się na terytorium Europy w siedzibie Usługodawcy lub w siedzibie operatora związanego umową z Usługodawcą i są przetwarzane zgodnie z ustawą o ochronie danych osobowych.</div>
      <div class="item">7. Usługobiorca oświadcza, że podane przez niego dane osobowe są zgodne z prawdą i ponosi odpowiedzialność za podanie nieprawdziwych danych.</div>
      <div class="item">8. Administratorem danych osobowych, o których mowa w pkt 2 powyżej jest Usługodawca.</div>
      <div class="item">9. Usługodawca przetwarza podane przez Usługobiorcę dane osobowe wyłącznie w celu prawidłowego świadczenia Usług, o których mowa w pkt III. niniejszego Regulaminu oraz w celu prawidłowego realizowania zobowiązań z tytułu zawartych z Usługobiorcą umów licencyjnych.</div>
      <div class="item">10. Usługobiorca ma prawo wglądu do przetwarzanych danych osobowych w każdym czasie, jak również do ich poprawiania oraz żądania ich usunięcia.</div>
      <div class="item">11. Cofnięcia przez Usługobiorcę zgody na przetwarzanie jego danych osobowych, będzie równoznaczne z wypowiedzeniem umowy o świadczenie usług, o których mowa w pkt III. niniejszego Regulaminu, przy czym Usługodawca w takim przypadku nie ponosi odpowiedzialności z tytułu braku możliwości wykonywania swoich zobowiązań.</div>
      <div class="item">12. Usługobiorca wyraża dodatkową zgodę na wykorzystywanie jego danych osobowych w celach marketingowych (informowania Usługobiorcy o usługach Usługodawcy oraz podmiotów z nim współpracujących) na podstawie uzasadnionego interesu prawnego.</div>
      <div class="item">13. Usługodawca może odmówić usunięcia danych osobowych, jeżeli dalsze przetwarzanie tych danych przez Usługodawcę jest dopuszczalne na podstawie przepisów prawa.</div>
      <div class="item">14. Usługobiorca ma prawo wniesienia skargi do organu nadzorczego, gdy uzna, że przetwarzanie jego danych osobowych narusza przepisy RODO.</div>
      <div class="item">
        15. Dane osobowe Usługobiorcy mogą być przekazywane podmiotom uprawnionym do ich otrzymania na mocy obowiązujących przepisów prawa, w tym właściwym organom wymiaru sprawiedliwości. Dane osobowe Usługobiorcy mogą być także przekazywane wskazanym przez Usługodawcę podmiotom trzecim w związku z realizowanymi usługami na rzecz Usługobiorców w ramach usługi „SFBot”, to jest partnerom świadczącym:
        <ul>
          <li>usługi techniczne m.in. hostingowe (w tym przechowywanie danych w tzw. chmurze), dotyczące rozwijania i utrzymywanie systemów informatycznych i serwisów internetowych,</li>
          <li>usługi marketingowe,</li>
          <li>usługi windykacyjne,</li>
          <li>usługi księgowości, rachunkowości,</li>
          <li>usługi doradcze, konsultacyjne,</li>
          <li>obsługa płatności online.</li>
        </ul>
      </div>
      <div class="item">16. Dane osobowe Usługobiorców są chronione przez Usługodawcę przed ich udostępnieniem osobom nieupoważnionym, a także innymi przypadkami ich ujawnienia albo utraty oraz przed zniszczeniem lub nieuprawnioną modyfikacją wskazanych danych oraz informacji, poprzez stosowanie odpowiednich zabezpieczeń organizacyjnych, a także zabezpieczeń o charakterze technicznym i programistycznym, w szczególności systemów szyfrowania danych.</div>
      <div class="item">17. Dane osobowe Usługobiorców nie będą przetwarzane w sposób zautomatyzowany.</div>
      <div class="item">18. Po stwierdzeniu naruszenia ochrony powierzonych przez Usługobiorcy danych osobowych Usługodawca, bez zbędnej zwłoki, od wykrycia naruszenia, zgłasza je Usługobiorcy.</div>
      <div class="item">19. Zagadnienia związane z ochrona i wykorzystywaniem danych niestanowiących danych osobowych (tzw. ciasteczek) uregulowane są w Polityce Prywatności zamieszczonej w Serwisie Internetowym.</div>
    </div>
  </div>

  <div class="block">
    <div class="header">VIII. Konserwacja i przerwy techniczne</div>
    <div class="line"></div>
    <div class="informations">
      <div class="item">1. Usługodawca ma prawo w każdej chwili, bez podania przyczyny, wyłączyć Serwis Internetowy w celu wprowadzenia ulepszeń lub przeprowadzenia koniecznych napraw i prac konserwacyjnych. Prace te, poza wyjątkami wynikającymi ze zdarzeń losowych, prowadzone będą w miarę możliwości w godzinach wieczornych lub w dni ustawowo wolne od pracy.</div>
      <div class="item">2. Przerwy techniczne w działaniu Serwisu Internetowego nie mogą być podstawą zgłaszania jakichkolwiek roszczeń ze strony Usługobiorców oraz jakichkolwiek innych osób.</div>
    </div>
  </div>

  <div class="block">
    <div class="header">IX. Prawa na dobrach niematerialnych</div>
    <div class="line"></div>
    <div class="informations">
      <div class="item">1. Treści udostępniane w Serwisie Internetowym oraz Oprogramowaniu „SFBot”, użyte w nim znaki towarowe, nazwy firm, logotypy, zdjęcia, multimedia oraz wszelkie inne zawarte w nim utwory w rozumieniu przepisów ustawy z 4 lutego 1994 r. o Prawie autorskim i prawach pokrewnych korzystają z ochrony przewidzianej w przepisach prawa powszechnie obowiązującego.</div>
      <div class="item">2. Korzystanie z Serwisu Internetowego nie oznacza nabycia jakichkolwiek praw na dobrach niematerialnych do utworów znajdujących się w Serwisie. W szczególności zabronione jest, bez uprzedniej pisemnej zgody Usługodawcy, kopiowanie, rozpowszechnianie, wykorzystywanie czy modyfikowanie jakichkolwiek elementów składowych Serwisu Internetowego oraz Oprogramowania „SFBot”.</div>
    </div>
  </div>

  <div class="block">
    <div class="header">X. Postanowienia końcowe</div>
    <div class="line"></div>
    <div class="informations">
      <div class="item">1. Usługodawca zastrzega sobie prawo wprowadzania zmian treści Regulaminu, z zastrzeżeniem ochrony praw nabytych. O zmianach Regulaminu Usługodawca poinformuje każdego Usługobiorcę za pośrednictwem e-maila oraz publikując zmieniony Regulamin w Serwisie Internetowym. Zmieniony Regulamin wiąże Usługobiorcę o ile nie złoży on wypowiedzenia umowy o świadczenie usług droga elektroniczną w ciągu 21 dni od dnia powiadomienia go o zmianach Regulaminu.</div>
      <div class="item">2. Jeżeli którekolwiek z postanowień Regulaminu są lub staną się nieważne lub nieskuteczne, nie narusza to ważności pozostałych jego postanowień.</div>
      <div class="item">3. Oświadczenia woli złożone przez Usługodawcę i Usługobiorcę w formie elektronicznej (za pomocą poczty elektronicznej) będą równoważne oświadczeniom złożonym w formie pisemnej.</div>
      <div class="item">4. Wszelkie ewentualne spory, Usługodawca i Usługobiorcy zobowiązują się rozstrzygać w drodze wzajemnych negocjacji, a w przypadku nie osiągnięcia porozumienia w okresie 30 dni od rozpoczęcia rokowań, spory te zostaną poddane pod rozstrzygnięcie sądu powszechnego właściwego dla siedziby Usługodawcy. Prawo dochodzenia w postępowaniu sądowym roszczeń wynikających z usług świadczonych drogą elektroniczną, o których mowa w pkt III. niniejszego Regulaminu przysługuje Usługobiorcy po wyczerpaniu drogi postępowania reklamacyjnego.</div>
      <div class="item">5. Regulamin wchodzi w życie z dniem: 20 lutego 2020.</div>
    </div>
  </div>

</div>
</div>
{% endblock %}