{% extends "layouts/default.html" %}

{% load static %}

{% block title %}Verify Your E-mail Address{% endblock %}

{% block content %}

<div class="background">
  <div class="custom-form space">
    <div id="signup">
      <h1 class="white">Verify Your E-mail Address</h1>
      <p class="white bigger-p text-center">
      We have sent an e-mail to you for verification. <br> Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.
      </p>
    </div>
  </div>
</div>

{% endblock %}
