.background{
  background-color: $light-blu;
  background-image: linear-gradient(180deg,$light-blu 10%,#224abe);
  background-size: cover;
  min-height: 100vh;
  padding: 2em;
}


.custom-form {
  background:rgba($form-bg,.9);
  padding: 40px;
  max-width:600px;
  margin: auto;
  border-radius:$br;
  box-shadow:0 $br 10px $br rgba($form-bg,.3);

  h1 {
    text-align:center;
    color:$white;
    font-weight:$thin;
    margin:0 0 25px;
  }

  label {
    color: rgba(255, 255, 255, 0.774);
    font-size:22px;
    .req {
      margin:2px;
      color:$main;
    }
  }

  input, textarea {
    margin-top: .4em;
    margin-bottom: 1em;
    font-size:22px;
    width:$full-size;
    padding:5px 10px;
    background:none;
    background-image:none;
    border:1px solid $gray-light;
    color:$white;
    border-radius:0;
    transition:border-color .25s ease, box-shadow .25s ease;
    &:focus {
      outline:0;
      border-color:$main;
    }
  }
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 34px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display:block;
    text-decoration:none;
    padding:15px;
    background:rgba($gray-light,.25);
    color:$gray-light;
    font-size:20px;
    float:left;
    width:$half-size;
    text-align:center;
    cursor:pointer;
    transition:.5s ease;
    &:hover {
      background:$main-dark;
      color:$white;
    }
  }
  .active a {
    background:$main;
    color:$white;
  }
}

.field-wrap {
  position: relative;
  margin-bottom: 6px;
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:$bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:$main;
  color:$white;
  transition:all.5s ease;
  -webkit-appearance: none;
  cursor: pointer;
  &:hover, &:focus {
    background:$main-dark;
  }
}

.button-block {
  display:block;
  width:$full-size;
}

.forgot {
  margin-top:-5px;
  text-align:right;
  margin-bottom: 15px;
  font-size: 1.1em;
}

.regulations{
  color: $white;
  margin-bottom: .8em;
}

.errorlist{
  color: rgb(255, 104, 104);
  font-size: 1.2em;
  padding-bottom: 1em;
}

.space{
  margin-top: 8em;
}

// restart password

.restart{
  label{
    position: initial;
    left: 0;
    margin-top: .4em;
  }

  input{
    margin-top: .6em;
  }

  input:last-child{
    margin-bottom: -7px;
  }

  p{
    padding-bottom: 1.5em;
    font-size: 1.1em;
  }

}

// Verification_sent and confirm e-mail

.bigger-p{
  font-size: 1.5em;
}

.space-p{
  margin-bottom: 2em;
}

.bigger-form{
  max-width: 1000px;
}

fieldset{
  border: none;
}

.default-input{
  width: auto;
  margin: auto;
}

.button-holder{
  display: flex;
  justify-content: space-between;
  margin-top: 1.7em;
  font-size: 1.3em;

  .primary-button{
    background-color: #1ab188;
    width: 30%;
    color: rgba(255, 255, 255, 0.726);
    padding: 15px 0;
    border-radius: .5em;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .primary-button:hover{
    background-color: #009b72;
  }

  .verification-button{
    background-color: rgb(187, 132, 29);
    width: 30%;
    color: rgba(255, 255, 255, 0.726);
    padding: 15px 0;
    border-radius: .5em;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .verification-button:hover{
    background-color: rgb(172, 112, 2);
  }

  .remove-button{
    background-color: rgb(204, 22, 22);
    width: 30%;
    color: rgba(255, 255, 255, 0.911);
    padding: 15px 0;
    border-radius: .5em;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .remove-button:hover{
    background-color: rgb(182, 1, 1);
  }
}

.ctrlHolder{
  margin: 1em;
}

.custom-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: .3em;
  }
  
  .custom-label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .custom-label input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .custom-label input:checked ~ .checkmark:after {
    display: block;
  }
  
  .custom-label .checkmark:after {
    left: 10px;
    top: 5px;
    width: 6px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.custom-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}



.primary{
  padding-left: .3em;
  color: #1ab188;
}

.verified{
  padding-left: 1em;
  color: rgb(218, 141, 0);
}

.unverified{
  padding-left: 1em;
  color: rgba(255, 43, 43, 0.952);
}
