{% extends "layouts/default.html" %}

{% load static %}

{% block title %}SFBot{% endblock %}

{% block content %}
{% include "layouts/mobile-navbar.html" %}
<div class="home-bcga" id="home">
  <div class="navbar">
    <a href="#home"><div class="logo"></div></a>
    <a href="#home">Home</a>
    <a href="#pricing">Pricing</a>
    <a href="#screenshots">Screenshots</a>
    <a href="signup"><div class="ui button">Try for free</div></a>
  </div>

  <div class="introduction">
    <div class="left">
      <img src="{% static 'img/home/bot.png' %}">
    </div>
    <div class="right">
      <h1>Improve your character with us</h1>
      <div class="description text-center">
        <p>SFBot is a quick way to lvl your account when you don't
        have enought time to play or when you are just sleeping. </p>
      </div>
    </div>
  </div>

  <div class="about">
    <h1 class="text-center">About The App</h1>
    <div class="description-header text-center">
      <p>The application aims to support your account in the faster leveling <br>
      by completing missions and tasks for which you don't have time.</p>
    </div>
    <div class="blocks">
      <div class="block">
        <img src="{% static 'img/home/money.png' %}">
        <h3>Free Start</h3>
        <div class="description">
          The basic bot isn't paid, but has
          restrictions visible in the pricing.
        </div>
      </div>
      <div class="block">
        <img src="{% static 'img/home/security.png' %}">
        <h3>Data Privacy</h3>
        <div class="description">
          Your data is only used by us and
          not sold to another companies.
        </div>
      </div>
      <div class="block">
        <img src="{% static 'img/home/settings.png' %}">
        <h3>Simple Settings</h3>
        <div class="description">
          You can set up the bot with a few clicks.
          Interface is designed to be easy to use.
        </div>
      </div>
    </div>
  </div>
</div>

<h2 class="ui horizontal divider fitted header shop">
  <i class="shopping cart icon  inverted circular"></i>
</h2>
<div class="pricing" id="pricing">
  <div class="navbar sections" id="navbar">
    <div class="container">
      <a href="#home"><div class="logo"></div></a>
      <a href="#home">Home</a>
      <a href="#pricing">Pricing</a>
      <a href="#screenshots">Screenshots</a>
      <a href="signup"><div class="ui button">Try for free</div></a>
    </div>
  </div>

  <h1 class="text-center">Pricing Plan</h1>
  <p class="text-center">The plan concerns monthly fees. <br> We do not have annual accounts. <br> Fees are not automatically renewable.</p>

  <div class="plans">
    {% for plan in plans %}
      {% if plan.available %}
        <div class="plan {{ plan.special_style }}">
          <div class="header text-center">{{ plan.name }}</div>
          <div class="price text-center">$0{{ plan.price }}</div>
          <div class="text-center">
            {% for permission in plan.permission_list.all %}
              <div class="information"><i class="{{ permission.icon }}"></i> {{ permission.description }}</div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<div class="slider-container" id="screenshots">
  <h2 class="ui horizontal divider fitted header">
    <i class="image outline inverted circular icon"></i>
  </h2>
  <div class="slider">
    <div class="s1 ss"></div>
    <div class="s2 ss"></div>
  </div>
</div>

<div class="statistics-container">
  <h2 class="ui horizontal divider fitted header">
    <i class="chart bar outline inverted circular icon"></i>
  </h2>
  <div class="ui statistics">
    <div class="statistic">
      <div class="value">
        {{ users }}
      </div>
      <div class="label">
        Users
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        {{ bots }}
      </div>
      <div class="label">
        Bots
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        {{ working_bots }}
      </div>
      <div class="label">
        Working Bots
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/nav-scroll.js' %}"></script>
<script src="{% static 'js/mobile-nav.js' %}"></script>
<script src="{% static 'js/shape-slider.js' %}"></script>
{% include "layouts/footer.html" %}
{% endblock %}

