{% extends "layouts/default.html" %}

{% load static %}

{% block title %}SFBot{% endblock %}

{% block content %}
{% include "layouts/mobile-navbar.html" %}
<div class="home-bcga" id="home">
  <div class="navbar">
    <a href="#home"><div class="logo"></div></a>
    <a href="#home">Home</a>
    <a href="#pricing">Pricing</a>
    <a href="signup"><div class="ui button">Try for free</div></a>
  </div>
</div>

<h2 class="ui horizontal divider fitted header shop">
  <i class="shopping cart icon  inverted circular"></i>
</h2>
<div class="pricing" id="pricing">
  <div class="navbar sections" id="navbar">
    <div class="container">
      <a href="#home"><div class="logo"></div></a>
      <a href="#home">Home</a>
      <a href="#pricing">Pricing</a>
      <a href="signup"><div class="ui button">Try for free</div></a>
    </div>
  </div>

  <h1 class="text-center">Pricing Plan</h1>
  <p class="text-center">The plan concerns monthly fees. <br> We do not have annual accounts. <br> Fees are not automatically renewable.</p>

  <div class="plans">
    {% for plan in plans %}
      {% if plan.available %}
        <div class="plan {{ plan.special_style }}">
          <div class="header text-center">{{ plan.name }}</div>
          <div class="price text-center">$0{{ plan.price }}</div>
          <div class="text-center">
            {% for permission in plan.permission_list.all %}
              <div class="information"><i class="{{ permission.icon }}"></i> {{ permission.description }}</div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

<h2 class="ui horizontal divider fitted header stat">
  <i class="chart bar outline inverted circular icon"></i>
</h2>
<div class="ui statistics">
  <div class="statistic">
    <div class="value">
      {{ users }}
    </div>
    <div class="label">
      Users
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      {{ bots }}
    </div>
    <div class="label">
      Bots
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      {{ working_bots }}
    </div>
    <div class="label">
      Working Bots
    </div>
  </div>
</div>

<script src="{% static 'js/nav-scroll.js' %}"></script>
<script src="{% static 'js/mobile-nav.js' %}"></script>
{% include "layouts/footer.html" %}
{% endblock %}

