{% extends "layouts/default.html" %}

{% load static %}

{% block title %}SFBot{% endblock %}

{% block content %}
<div class="home-bcga" id="home">
  <div class="navbar">
    <a href="#home"><div class="logo"></div></a>
    <div class="ui grid">
      <div class="four wide column text-center"><a href="#home">Home</a></div>
      <div class="four wide column text-center"><a href="#pricing">Pricing</a></div>
      <div class="four wide column text-center"><a href="#screenshots">Screenshots</a></div>
      <div class="four wide column text-center"><a href="#contact">Contact</a></div>
    </div>
    <a href="register"><div class="ui button">Try for free</div></a>
  </div>

  <div class="slogan">
    <div class="s-img"></div>
    <div class="s-text">
      <h1>Improve your character with us</h1>
      <p>SFBot is a quick way to lvl uo your account when you don't <br> have enought time to play or
      whne you are just sleeping.</p>
    </div>
  </div>

  <div class="about">
    <h1 class="text-center">About The App</h1>
    <p class="text-center">Writers and stars of Veep have responded incredulously to the news an Australian politician <br> required preinstalled stitches way  email client, calendar, mapping program.</p>
    <div class="blocks">
      <div class="block">
        <div class="start icon"></div>
        <div class="topic text-center">Free Start</div>
        <div class="description text-center">The basic bot isn't paid, but has restrictions visible in the pricing </div>
      </div>
      <div class="block">
        <div class="privacy icon"></div>
        <div class="topic text-center">Data Privacy</div>
        <div class="description text-center">Your data is only used by us and not sold to another companies.  </div>
      </div>
      <div class="block">
        <div class="settings icon"></div>
        <div class="topic text-center">Simple Settings</div>
        <div class="description text-center">You can set the bot with a few clicks. Our interface is designed to be easy to use. </div>
      </div>
    </div>
  </div>
</div>

<div class="pricing" id="pricing">
  <div class="navbar sections" id="navbar">
    <div class="container">
      <a href="#home"><div class="logo"></div></a>
      <div class="ui grid">
        <div class="four wide column text-center"><a href="#home">Home</a></div>
        <div class="four wide column text-center"><a href="#pricing">Pricing</a></div>
        <div class="four wide column text-center"><a href="#screenshots">Screenshots</a></div>
        <div class="four wide column text-center"><a href="#contact">Contact</a></div>
      </div>
      <a href="register"><div class="ui button">Try for free</div></a>
    </div>
  </div>

  <h1 class="text-center">Pricing Plan</h1>
  <p class="text-center">The plan concerns monthly fees. We do not have annual accounts. <br> Fees are not automatically renewable.</p>

  <div class="plans">
    <div class="plan">
      <div class="header text-center">FOR BEGINNERS</div>
      <div class="price text-center">$00</div>
      <div class="description text-center">Perfect to start</div>
      <div class="text-center">
        <div class="information"><i class="check icon"></i>Bot works 6h per day</div>
        <div class="information"><i class="check icon"></i>Max 1 bot</div>
        <div class="information"><i class="times icon"></i>Bot works 12h per day</div>
        <div class="information"><i class="times icon"></i>Max 3 bot</div>
        <div class="information"><i class="times icon"></i>Bot works all the time</div>
        <div class="information"><i class="times icon"></i>Max 5 bot</div>
      </div>
      <a href="register"><div class="register">Sign Up</div></a>
    </div>
    <div class="plan best">
      <div class="header text-center">I DON'T HAVE TIME</div>
      <div class="price text-center">$03</div>
      <div class="description text-center">Perfect when you are busy</div>
      <div class="text-center">
        <div class="information"><i class="check icon"></i>Bot works 6h per day</div>
        <div class="information"><i class="check icon"></i>Max 1 bot</div>
        <div class="information"><i class="check icon"></i>Bot works 12h per day</div>
        <div class="information"><i class="check icon"></i>Max 3 bot</div>
        <div class="information"><i class="times icon"></i>Bot works all the time</div>
        <div class="information"><i class="times icon"></i>Max 5 bot</div>
      </div>
      <a href="register"><div class="register">Sign Up</div></a>
    </div>
    <div class="plan">
      <div class="header text-center">I'M ON VACATION</div>
      <div class="price text-center">$08</div>
      <div class="description text-center">Perfect when you want <br> to take a break</div>
      <div class="text-center">
        <div class="information"><i class="check icon"></i>Bot works 6h per day</div>
        <div class="information"><i class="check icon"></i>Max 1 bot</div>
        <div class="information"><i class="check icon"></i>Bot works 12h per day</div>
        <div class="information"><i class="check icon"></i>Max 3 bot</div>
        <div class="information"><i class="check icon"></i>Bot works all the time</div>
        <div class="information"><i class="check icon"></i>Max 5 bot</div>
      </div>
      <a href="register"><div class="register">Sign Up</div></a>
    </div>
  </div>
</div>

<div class="screenshots" id="screenshots">
  <h1 class="text-center">App Screenshots</h1>

  <div class="images">
    <div class="image">
      <div class="ui placeholder">
        <div class="square image"></div>
      </div>
    </div>
    <div class="image">
      <div class="ui placeholder">
        <div class="square image"></div>
      </div>
    </div>
    <div class="image">
      <div class="ui placeholder">
        <div class="square image"></div>
      </div>
    </div>
    <div class="image">
      <div class="ui placeholder">
        <div class="square image"></div>
      </div>
    </div>
  </div>
</div>

<div class="contact" id="contact">
  <h1 class="text-center">Do you have a doubt?</h1>
  <p class="text-center">Write to us to find out more details and start your adventure with us.</p>

  <form action="" method="post">
    {% csrf_token %}
    <div class="field">
      <input type="text" name="name" placeholder="Name">
    </div>
    <div class="field">
      <input type="text" name="topic" placeholder="Topic">
    </div>
    <div class="field">
      <input type="email" placeholder="joe@schmoe.com">
    </div>
    <div class="field">
      <textarea placeholder="Text" rows="5"></textarea>
    </div>
    <button class="ui button" type="submit">Send</button>
  </form>
</div>

<script src="{% static 'js/nav-scroll.js' %}"></script>
{% include "layouts/footer.html" %}
{% endblock %}

