{% extends "layouts/default.html" %}

{% load static %}

{% block title %}SFBot - Add Bot{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="wrapper">
    {% include "layouts/sidebar.html" %}
    <div class="content">
      <div class="add-form">
        <h1 class="text-center add-header">Add New Bot</h1>
        <form method="post">
          {% csrf_token %}
          <p>
            <label for="id_SF_Username">SF Username</label>
            {{ form.SF_Username }}
          </p>
          <p>
            <label for="id_SF_Password">SF Password</label>
            {{ form.SF_Password }}
          </p>
          <div class="server-region">
            <p class="selects">
              <label for="id_country">Country</label>
              {{ form.country }}
            </p>
            <p class="selects">
              <label for="id_server">Server</label>
              {{ form.server }}
            </p>
          </div>
          <div class="explain">
            * SF - Shakes & Fidget
          </div>
          {{ form.non_field_errors }}
          <div class="add-button">
            <button class="ui button" type="submit">Add Bot</button>
          </div>
        </form>
      </div>
    </div>
  {% else %}
  <div class="background">
    <div class="custom-form space">
      <ul class="tab-group">
        <li class="tab"><a href="signup">Sign Up</a></li>
        <li class="tab active"><a href="login">Log In</a></li>
      </ul>
      <div id="login">
        <h1 class="white">You aren't logged in</h1>
        <p class="white bigger-p text-center space-p"> Go to "Log In" or if you don't have account, <br> go to "Sign Up"</p>
      </div>
    </div>
  </div>
  {% endif %}
  </div>
{% endblock %}

