{% extends "layouts/default.html" %}

{% load static %}

{% block title %}SFBot - Add Currency{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="user-content">
            <h1 class="text-center">Add Currency</h1>
                {% for item in product %}
                    <div class="ui grid">
                        <div class="four wide column">
                            ${{ item.price }}
                            {{ item.value }}
                            <div id="paypal-button-container"></div>
                            <script src="https://www.paypal.com/sdk/js?client-id=Ab0S9jJwKmmI97_WGZfHB5bX-NstPin-iJYRif37clSTPV4CdlAkBlP4xi76FMkuIb2AKesHXReZ32wN&currency=USD"></script>
                            <script>
                                function getCookie(name) {
                                    var cookieValue = null;
                                    if (document.cookie && document.cookie !== '') {
                                        var cookies = document.cookie.split(';');
                                        for (var i = 0; i < cookies.length; i++) {
                                            var cookie = cookies[i].trim();
                                            // Does this cookie string begin with the name we want?
                                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                                break;
                                            }
                                        }
                                    }
                                    return cookieValue;
                                }

                                var csrftoken = getCookie('csrftoken');
                                var total = '{{ item.price }}';
                                var productId = '{{ item.id }}';
                                var userProfile = '{{ current_user.id }}';

                                function completeOrder(){
                                    var url = "{% url 'sfbot:complete' %}"
                                    fetch(url, {
                                        method:'POST',
                                        headers:{
                                            'Content-type':'application/json',
                                            'X-CSRFToken':csrftoken,
                                        },
                                        body:JSON.stringify({'productId':productId, 'userProfile':userProfile})
                                    })
                                }

                                // Render the PayPal button into #paypal-button-container
                                paypal.Buttons({
                                    // Set up the transaction
                                    createOrder: function(data, actions) {
                                        return actions.order.create({
                                            purchase_units: [{ 
                                                amount: {
                                                    value: total
                                                }
                                            }]
                                        });
                                    },

                                    // Finalize the transaction
                                    onApprove: function(data, actions) {
                                        return actions.order.capture().then(function(details) {
                                            completeOrder()
                                            window.location.href = "{% url 'sfbot:profile' %}"
                                        });
                                    }


                                }).render('#paypal-button-container');
                            </script>
                        </div>
                    </div>
                {% endfor %}
            
        </div>
    </div>
    {% include "modal/toasts.html" %}
{% endblock %}
