{% extends "layouts/default.html" %}

{% load static %}

{% block title %}SFBot - Dashboard{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="wrapper">
    {% include "layouts/sidebar.html" %}
    <div class="content">
      {% include "layouts/navbar.html" %}
      <h1 class="text-center">Dashboard</h1>
      <div class="bots">
        {% for bot in bots %}
        <div class="bot">
          <div class="header-name text-center">
            {{ bot.SF_Username }}
          </div>
          {% if bot.status == True %}
          <div class="status">
            <b> Status:</b> <br> Bot is in a fight <img src="{% static 'img/status/work.png' %}">
          </div>
          {% else %}
          <div class="status">
            <b> Status:</b> <br> Bot waiting for a combat task <img src="{% static 'img/status/wait.png' %}">
          </div>
          {% endif %}
          <div class="settings">
            <a href="{{ bot.get_absolute_url }}">Settings</a>
          </div>
          {% if bot.status == True %}
            <div class="status-color-on"></div>
          {% else %}
            <div class="status-color-off"></div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
  <div class="background">
    <div class="custom-form space">
      <ul class="tab-group">
        <li class="tab"><a href="signup">Sign Up</a></li>
        <li class="tab active"><a href="login">Log In</a></li>
      </ul>
      <div id="login">
        <h1 class="white">You aren't logged in</h1>
        <p class="white bigger-p text-center space-p"> Go to "Log In" or if you don't have account, <br> go to "Sign Up"</p>
      </div>
    </div>
  </div>
  {% endif %}
  </div>
{% endblock %}

