{% extends "layouts/default.html" %}

{% load static %}

{% block title %}SFBot - Dashboard{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="wrapper">
    {% include "layouts/sidebar.html" %}
    {% include "layouts/mobile-sidebar.html" %}
    {% include "modal/quit.html" %}
    {% include "modal/add-bot.html" %}
    <div class="user-content">
      <div class="nav-col">
        <nav class="nav-right">
          <div class="container-fluid">
            {% if lock_add == False %}
              <div class="item nav-links add">
                <i class="plus icon"></i>
                Add Bot
              </div>
            {% else %}
              <div class="item nav-links max">
                <i class="times icon"></i>
                Max Bots
              </div>
            {% endif %}
            <div class="ui dropdown">
              <div class="account">{{ user }}</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item nav-links quit">
                  <i class="sign out alternate icon"></i>
                  Logout
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <script src="{% static 'js/navbar.js' %}"></script>
      <script src="{% static 'js/modal.js' %}"></script>


      <h1 class="text-center">Dashboard</h1>
      <div class="bots">
        {% if user_bots  %}
          {% for bot in user_bots  %}
            <div class="bot">
              <div class="header-name text-center">
                {{ bot.username }}
              </div>
              {% if bot.status == True %}
                <div class="status">
                  <b> Status:</b> <br> Bot is in a fight <img src="{% static 'img/status/work.png' %}">
                </div>
              {% else %}
                <div class="status">
                  <b> Status:</b> <br> Bot waiting for a combat task <img src="{% static 'img/status/wait.png' %}">
                </div>
              {% endif %}
              <div class="settings">
                <a href="{{ bot.get_absolute_url }}">Settings</a>
              </div>
              {% if bot.status == True %}
                <div class="status-color-on"></div>
              {% else %}
                <div class="status-color-off"></div>
              {% endif %}
            </div>
          {% endfor %}
        {% else %}
          <div class="text-center no-bots">
            You don't have any bots, click on "Add Bot", at the top of the page. <br><br>
            If you are using the mobile version, go to the menu and click "Add Bot".
          </div>
        {% endif %}
      </div>
      {% include "layouts/footer-user.html" %}
    </div>
  {% else %}
  <div class="background">
    <div class="custom-form space">
      <ul class="tab-group">
        <li class="tab"><a href="signup">Sign Up</a></li>
        <li class="tab active"><a href="login">Log In</a></li>
      </ul>
      <div id="login">
        <h1 class="white">You aren't logged in</h1>
        <p class="white bigger-p text-center space-p"> Go to "Log In" or if you don't have account, <br> go to "Sign Up"</p>
      </div>
    </div>
  </div>
  {% endif %}
  </div>
  {% include "modal/toasts.html" %}
{% endblock %}