{% extends "layouts/default.html" %}

{% load static %}

{% block title %}SFBot - FAQ{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="wrapper">
    {% include "layouts/sidebar.html" %}
    <div class="content">
      {% include "layouts/navbar.html" %}
      <h1 class="text-center">FAQ</h1>
      <div class="ui styled accordion">
        {% for faq in faqs %}
          <div class="title">
            <i class="dropdown icon"></i>
            {{ faq.topic }}
          </div>
          <div class="content">
            <p>{{ faq.description }}</p>
          </div>
        {% endfor %}
      </div>
    </div>

  <script src="{% static 'js/faq.js' %}"></script>
  {% else %}
  <div class="background">
    <div class="form-reg-log">
      <h1 class="white">You aren't logged in. Go to: <br><a href="login">Login section</a></h1>
    </div>
  </div>
  {% endif %}
  </div>
{% endblock %}





