{% extends "layouts/default.html" %}

{% load static %}

{% block title %}SFBot - Bot Settings{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="wrapper">
    {% include "layouts/sidebar.html" %}
    {% include "layouts/mobile-sidebar.html" %}
    <div class="user-content">
      {% include "layouts/navbar.html" %}
      <form action="" method="post" class="bot-settings">
        {% csrf_token %}
        <h1 class="text-center">Bot Status</h1>
        <div class="status">
          <div class="onoffswitch">
            {% if object.time_left|time:"H:i" != '00:00' %}
              {{ form.status }}
              <label class="onoffswitch-label" for="id_status">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            {% else %}
              {% if object.status == True %}
                {{ form.status }}
                <label class="onoffswitch-label" for="id_status">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              {% else %}
                <label class="onoffswitch-label max" for="id_status">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              {% endif %}
            {% endif %}
          </div>
          {% if object.time_left|time:"H:i" == '00:00' %}
            <p class="time-error text-center">
              You have used up the package, wait until the next day for its renewal!
            </p>
          {% endif %}
        </div>


        <h1 class="text-center">Information (<a href="/edit{{ object.get_absolute_url }}">Edit</a>) </h1>
        <div class="information-account">
          <div class="left">
            <div class="item">
              <div class="desc">SF username:</div>
              <div class="object">{{ object.username }}</div>
            </div>
            <div class="item">
              <div class="desc">Bot will stop at:</div>
              <div class="object">
                {% if object.stop %}
                  {{ object.stop|date:"d.m g:i A" }}
                {% else %}
                  {% if object.profile.plan.name == "PREMIUM" %}
                    Unlimited
                  {% else %}
                    {% if object.status %}
                      Calculating...
                    {% else %}
                      ????
                    {% endif %}
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="right">
            <div class="item"> 
              <div class="desc">Account country:</div> 
              <div class="object">{{ object.country }}</div>
            </div>
            <div class="item"> 
              <div class="desc">Account server:</div>
              <div class="object">{{ object.server }}</div>
            </div>
          </div>
        </div>


        <h1 class="text-center"> Settings </h1>
        <div class="section">
          <div class="work">
            <div class="onoffswitch">
              {{ form.tavern_status }}
              <label class="onoffswitch-label" for="id_tavern_status">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
          <div class="task text-center">
            <h1>Tavern</h1>
            <div class="choose">
              Prefer: {{ form.tavern_settings }}
            </div>
          </div>
        </div>


        <div class="section">
          <div class="work">
            <div class="onoffswitch">
              {{ form.arena_status }}
              <label class="onoffswitch-label" for="id_arena_status">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>
          </div>
          <div class="task text-center">
            <h1>Arena</h1>
            <div class="choose">
              Choose opponents: {{ form.arena_settings }}
            </div>
          </div>
        </div>

        {{ form.non_field_errors }}
        <button class="button button-block" type="submit">Save Settings</button>
      </form>
    {% include "layouts/footer.html" %}
    </div>
  {% else %}
  <div class="background">
    <div class="custom-form space">
      <ul class="tab-group">
        <li class="tab"><a href="signup">Sign Up</a></li>
        <li class="tab active"><a href="login">Log In</a></li>
      </ul>
      <div id="login">
        <h1 class="white">You aren't logged in</h1>
        <p class="white bigger-p text-center space-p"> Go to "Log In" or if you don't have account, <br> go to "Sign Up"</p>
      </div>
    </div>
  </div>
  {% endif %}
  </div>
  {% include "modal/toasts.html" %}
{% endblock %}

