{% extends "layouts/default.html" %}

{% load static %}

{% block title %}SFBot - Shop{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="wrapper">
    {% include "layouts/sidebar.html" %}
    {% include "layouts/mobile-sidebar.html" %}
    <div class="user-content">
      {% include "layouts/navbar.html" %}
      <div class="shop">
        <h1 class="text-center">Shop</h1>
        <div class="switch text-center">
          <span class="type">Plans</span>
          <div class="ui toggle checkbox">
            <input type="checkbox" id="checbox" onclick="check()" ; />
            <label></label>
          </div>
          <span class="type">Gears</span>
        </div>
        {% if not plans %}
          <p class="text-center">At the moment shop is disable.</p>
        {% else %}
          <div class="plan-shop">
            <p class="text-center">The plan concerns monthly fees. We do not have annual accounts. <br> Fees are not automatically renewable.</p>
            <div class="plans">
              {% for plan in plans %}
                {% if plan.available %}
                  <div class="plan {{ plan.special_style }}">
                    <div class="header text-center">{{ plan.name }}</div>
                    <div class="price text-center">
                      {% if plan.price == 0 %}
                        FREE
                      {% else %}
                        {{ plan.price }}<img class="gears-img" src="{% static 'img/currency/wallet-gears.svg' %}">
                      {% endif %}
                    </div>
                    <div class="text-center">
                      {% for permission in plan.permission_list.all %}
                        <div class="information"><i class="{{ permission.icon }}"></i> {{ permission.description }}</div>
                      {% endfor %}
                    </div>
                    {% if not user_plan == plan.name %}
                      <a href=""><div class="register">Buy</div></a>
                    {% else %}
                      <div class="register owned">Alredy have</div>
                    {% endif %}
                  </div>
                {% else %}
                  <div class="plan not-available"></div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="plans currency">
              {% for item in currency %}
                  <div class="plan {{ plan.special_style }}">
                    <div class="header text-center">{{ item.value }} Gears</div>
                    {% if item.price < 10 %}
                      <div class="price text-center">$0{{ item.price }}</div>
                    {% else %}
                      <div class="price text-center">${{ item.price }}</div>
                    {% endif %}
                    <div class="text-center">
                      {% if item.id == 1 %}
                        <img src="{% static 'img/currency/bronze.svg' %}">
                      {% elif item.id == 2 %}
                        <img src="{% static 'img/currency/silver.svg' %}">
                      {% elif item.id == 3 %}
                        <img src="{% static 'img/currency/gold.svg' %}">
                      {% elif item.id == 4 %}
                        <img src="{% static 'img/currency/diamond.svg' %}">
                      {% endif %}
                    </div>
                    <a href="{% url 'sfbot:checkout' item.id %}"><div class="register">Buy</div></a>
                  </div>
              {% endfor %}
            </div>
        {% endif %}
      </div>
      {% include "layouts/footer-user.html" %}
    </div>
  {% else %}
  <div class="background">
    <div class="form-reg-log">
      <h1 class="white">You aren't logged in. Go to: <br><a href="login">Login section</a></h1>
    </div>
  </div>
  {% endif %}
  </div>
{% endblock %}
