{% extends "layouts/default.html" %}

{% load static %}

{% block title %}SFBot - Shop{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <div class="wrapper">
    {% include "layouts/sidebar.html" %}
    {% include "layouts/mobile-sidebar.html" %}
    <div class="user-content">
      {% include "layouts/navbar.html" %}
      <div class="shop">
        <h1 class="text-center">Shop</h1>
        <div class="switch text-center">
          <span class="type">Plans</span>
          <div class="ui toggle checkbox">
            <input type="checkbox" id="checbox" onclick="check()" ; />
            <label></label>
          </div>
          <span class="type">Gears</span>
        </div>
        {% if not plans %}
          <p class="text-center">At the moment shop is disable.</p>
        {% else %}
          <div class="plan-shop">
            <p class="text-center">The plan concerns monthly fees. We do not have annual accounts. <br> Fees are not automatically renewable.</p>
            <div class="plans">
              {% for plan in plans %}
                {% if plan.available %}
                  <div class="plan {{ plan.special_style }}">
                    <div class="header text-center">{{ plan.name }}</div>
                    <div class="price text-center">
                      {% if plan.price == 0 %}
                        FREE
                      {% else %}
                        {{ plan.price }}<img class="gears-img" src="{% static 'img/currency/wallet-gears.svg' %}">
                      {% endif %}
                    </div>
                    <div class="text-center">
                      {% for permission in plan.permission_list.all %}
                        <div class="information"><i class="{{ permission.icon }}"></i> {{ permission.description }}</div>
                      {% endfor %}
                    </div>
                    {% if not user_plan == plan.name %}
                      {% if plan.name == "STARTER" %}
                        <div class="register owned">Not for sell</div>
                      {% elif user_profile.wallet < plan.price %}
                        <div class="register owned">Not enough points</div>
                      {% else %}
                        {% if lock %}
                          <div class="register owned">Wait for expiration date</div>
                        {% else %}
                          <div class="register buyplanmodal" onclick="planModal('{{ plan.id }}')">Buy</div>
                        {% endif %}
                      {% endif %}
                    {% else %}
                      <div class="register owned">Alredy have</div>
                    {% endif %}
                  </div>
                {% else %}
                  <div class="plan not-available"></div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="plans currency">
            {% for item in currency %}
              <div class="plan {{ plan.special_style }}">
                <div class="header text-center">{{ item.value }} Gears</div>
                {% if item.price < 10 %}
                  <div class="price text-center">$0{{ item.price }}</div>
                {% else %}
                  <div class="price text-center">${{ item.price }}</div>
                {% endif %}
                <div class="text-center">
                  {% if item.id == 1 %}
                    <img src="{% static 'img/currency/bronze.svg' %}">
                  {% elif item.id == 2 %}
                    <img src="{% static 'img/currency/silver.svg' %}">
                  {% elif item.id == 3 %}
                    <img src="{% static 'img/currency/gold.svg' %}">
                  {% elif item.id == 4 %}
                    <img src="{% static 'img/currency/diamond.svg' %}">
                  {% endif %}
                </div>
                  <div class="buymodal register" onclick="sendPk('{{ item.id }}')">Buy</div>
              </div>
            {% endfor %}
          </div>
          <script>
            var style = document.createElement("style");
            style.innerHTML = `body::-webkit-scrollbar {display: none;}`;
            document.head.appendChild(style);
            function getCookie(name) {
              var cookieValue = null;
              if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
                }
              }
              return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
            function sendPk(productId){
              var url = "{% url 'sfbot:currency' %}";
              fetch(url, {
                method:'POST',
                headers:{
                  'Content-type':'application/json',
                  'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({'productId':productId})
              })
              .then((resp) => resp.json())
              .then(function(data) {
                $(".gears").remove();
                $(".price-product").remove();
                $(".paypal-buttons").remove();
                $(".append-img").remove();
                if (data.price < 10){
                  $(".data").prepend('<div class="text-center gears">' + data.value + ' Gears</div><div class="text-center price-product">$0' + data.price + '</div>');
                }
                else {
                  $(".data").prepend('<div class="text-center gears">' + data.value + ' Gears</div><div class="text-center price-product">$' + data.price + '</div>');
                }
                if (data.value == 25){
                  $(".img").append('<img class="append-img" src="{% static "img/currency/bronze.svg" %}">');
                }
                else if (data.value == 50){
                  $(".img").append('<img class="append-img" src="{% static "img/currency/silver.svg" %}">');
                }
                else if (data.value == 100){
                  $(".img").append('<img class="append-img" src="{% static "img/currency/gold.svg" %}">');
                }
                else if (data.value == 200){
                  $(".img").append('<img class="append-img" src="{% static "img/currency/diamond.svg" %}">');
                }
                var productPrice = data.price
                generatePayPal(productId, productPrice);
              })
            }

            function planModal(modalId){
              var url = "{% url 'sfbot:plan_modal' %}";
              fetch(url, {
                method:'POST',
                headers:{
                  'Content-type':'application/json',
                  'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({'modalId':modalId})
              })
              .then((resp) => resp.json())
              .then(function(data) {
                $(".js").remove();
                $(".spositive").remove();
                $(".name").append('<p class="js">"' + data.name + '"</p>');
                $(".plan_price").append('<p class="js">' + data.price + '$</p>');
                $(".actions").append('<div class="ui spositive right labeled icon button" onclick="planBuy(' + data.id + ')">' + 'Buy' + '<i class="shopping cart icon"></i>' + '</div>');
              })
            }

            function planBuy(planId){
              var url = "{% url 'sfbot:plan' %}";
              fetch(url, {
                method:'POST',
                headers:{
                  'Content-type':'application/json',
                  'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({'planId':planId})
              })
              .then((resp) => resp.json())
              .then(function(data) {
                window.location.href = "{% url 'sfbot:profile' %}"
              })
            }
          </script>
        {% endif %}
      </div>
      
      {% include "modal/buy-currency.html" %}
      {% include "modal/buy-plan.html" %}
      {% include "modal/toasts.html" %}
      {% include "layouts/footer-user.html" %}
      <script src="{% static 'js/modal.js' %}"></script> 
    </div>
  {% else %}
  <div class="background">
    <div class="form-reg-log">
      <h1 class="white">You aren't logged in. Go to: <br><a href="login">Login section</a></h1>
    </div>
  </div>
  {% endif %}
  </div>
{% endblock %}
