@import "home";
@import "includes/navbar";
@import "includes/footer";

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar
{
  width: 12px;
}

::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background: rgba(110, 110, 110, 0.795);
}
