$width_small_mobile: 460px;
$width_mobile: 767px;
$width_laptops: 1200px;

// Register - Login

$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;

// Dashboard

$bg-content: #f8f9fc;
$card-border: #e3e6f0;
$light-blu: #4e73df;
$mint-color: #54E0C7;
$label-darkgrey: #3C454C;
$label-lightgrey: #D1D7DC;
$lightgrey-color: #6e707e;
$full-size: 100%;
$half-size: 50%;

// Home

$black: black;
