@media (max-width: 750px) {
  .s-baner{
    .baner{
      width: 90% !important;
    }
  }

  .d-flex{
    display: block !important;

    .item{
      width: $full-size !important;
    }
  }

  .slider{
    display: none;
  }

  .nav-left{
    display: none !important;
  }

  .content{
    width: $full-size !important;
  }

  .container-fluid{
    .icon-media{
      display: block !important;
      color: $black;
      font-size: 1.3em;
      padding: 1em;
    }
  }

  .nav-mobile{
    height: unset !important;
    background-color: $light-blu;
    background-image: linear-gradient(180deg, $light-blu 10%, #224abe);

    .container-fluid{
      flex-wrap: wrap;
      padding-left: 1em !important;
      padding-right: 1em !important;
    }

    .nav-link{
      color: rgba(231, 231, 231, 0.733);
      font-size: 1.2em;
      margin: 1em .6em;
    }
  }

  .top-row {
    > div {
      float: none !important;
      width: $full-size !important;
      margin-right:4%;
    }

    .field-wrap:last-child{
      margin-bottom: 40px;
    }
  }

  .password_reset{
    .button{
      font-size: 1.2em;
    }
  }

  .nav-mobile{
    display: none;
  }

  // to check
  .bot {
    padding-left: 0;
    padding-right: 0;
  }
  .card-body {
    white-space: nowrap;
    padding: .8rem;
  }
  .text-center.status {
    font-size: 1.2em;
  }
  .btn.btn-primary.btn-block {
    margin-bottom: .6em;
  }
  .mobile {
    width: 85% !important;
  }
  .mobile-header {
    font-size: 1.4em;
  }
  .no-padding {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .no-pad {
    padding-left: 0;
    padding-right: 0;
  }
  .d-flex {
    display: block !important;
  }
  .text-center {
    width: $full-size !important;
  }
  .header {
    margin: auto !important;
    margin-top: .7em !important;
    margin-bottom: .6em !important;
  }
  .baner {
    width: 80% !important;
  }
  .contact {
    width: 75% !important;
  }
  .row-fitur {
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  #generic_price_table .generic_content .generic_head_price .generic_head_content .head {
    padding-top: 13px;
  }
  .settings {
    white-space: normal;
    flex-basis: unset;
  }
  .bot {
    display: flex;
    flex-basis: unset;
  }
  .form {
    width: $full-size;
    display: block;
    padding: 0;
  }
  .media-space {
    padding-right: .7em;
  }

  .profile-container{
    display: block !important;

    .left{
      width: $full-size !important;

      .bot-stats{
        width: 92% !important;
      }
    }

    .right{
      width: $full-size !important;
    }
  }

  .container{
    .row{
      display: block !important;

      .col-offer{
        flex: none;
        max-width: $full-size !important;
      }

      .generic_content{
        border: 1px solid rgba(51, 51, 51, 0.24);
      }

      .head{
        padding-top: 2.8em !important;
      }
    }
  }

  .ui.styled.accordion {
    margin: auto;
    width: 80% !important;
}
}


@media (min-width:991px) {
  .row-fitur {
    margin-right: 0;
    margin-left: 0;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (max-width: 767px) {
  #generic_price_table .generic_content {
    margin-bottom: 75px;
  }
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display: none;
  }
  .simple-slider .swiper-slide {
    height: 360px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #generic_price_table .col-md-3 {
    float: left;
    width: $half-size;
  }
  #generic_price_table .col-md-4 {
    float: left;
    width: $half-size;
  }
  #generic_price_table .generic_content {
    margin-bottom: 75px;
  }
}

@media (max-width: 400px) {
  .bot {
    display: block;
  }
}
