@media only screen and (max-width: $width_mobile){
  //home //
  .home-bcga{
    background-image: url("/static/img/home/background2.png");
    .left{
      display: none;
    }

    .right{
      width: 100% !important;
      margin-left: 0em;
      margin: auto;
      padding-top: 0em !important;
      text-align: center;

      h1{
        font-size: 2.1em !important;
        padding-top: .5em !important;
      }

      .description{
        margin-left: 0em !important;
        width: 85% !important;
        margin: auto !important;
        font-size: 1.1em !important;
      }
    }

    .about{
      padding-top: 2em;

      h1{
        padding-top: 0vh !important;
        font-size: 2.1em !important;
      }

      .description-header{
        font-size: 1em !important;
        width: 90%;
        margin: auto;
      }

      .blocks{
        display: block !important;
        margin-top: 1em;
      
        .block{
          width: 100%;
          height: unset;
          padding-bottom: 1.2em;

          img{
            width: 50px;
          }

          h3{
            margin-block-start: .2em;
            margin-block-end: .3em;
          }
        }

        .block:nth-child(1), .block:nth-child(2){
          margin-bottom: 1em;
        }
      }
    }
  }
  // navbar //

  .navbar{
    display: none;
  }
  
  #burger {
    z-index: 10;
    display: table-column !important;
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    background: linear-gradient(45deg, #9682C8 10%, #05BCC9);
    font-size: 32px;
    padding: 16px 31px 36px 20px;
    border-radius: 0% 0% 0% 80%;
    transition: 1s;
    cursor: pointer;
  }

  i{
    margin: 0 0 0 0 !important;
  }

  #quit {
    position: fixed;
    top: 0;
    color: white;
    font-size: 32px;
    padding: 16px;
    display: none;
    cursor: pointer;
    z-index: 12;
  }

  #links {
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    padding: 13vh 0;
    z-index: 11;
    position: fixed;

    .mobile-quit{
      text-align: center;
      text-decoration: none;
      color: white;
      font-size: 2em;
      font-family: 'Roboto';
      z-index: 1;
      padding: 1em;
    }
  }

  #links a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-family: 'Roboto';
    z-index: 1;
    padding: 1em;
  }

  // pricing //
  .ui.horizontal.divider.fitted.header.shop{
    top: 923px;
  }

  h1{
    padding-top: 4vh !important;
    margin: 2.5vh !important;
  }

  .pricing{
    height: auto;
    padding-bottom: 4vh;

    .plans{
      margin: 4vh auto;
      display: block;
      width: 85%;

      .plan{
        width: 100%;
        margin-bottom: 5vh;
      }
    }
  }

  // statistics //
  .ui.statistics{
    width: 100%;
  }

  .ui.horizontal.divider.fitted.header.stat{
    top: 2247px;
  }

  // custom forms //
  .custom-form.space{
    margin-top: 4vh;
  }
  
  // sidebar //
  .nav-left{
    display: none !important;
  }
  
  .content{
    width: 100% !important;
  }

  // navbar user // 
  .nav-col{
    display: none !important;
  }

  // dashboard //
  .content{
    .bots{
      width: auto !important;
    }
  }

  // user footer // 
  .user-footer{
    display: none;
  }

  //profile //
  .profile-container{
    display: block !important;

    .left,.right{
      width: 100% !important;
    }

    .list{
      display: block !important;

      .item{
        width: 100% !important;
      }
    }
  }

  // shop // 
  .shop{
    .plans{
      width: 80% !important;
      display: block !important;
      margin-top: 3em !important;

      .plan{
        width: 100% !important;
        margin-bottom: 3em;
      }
    }
  }

  // faq //
  .ui.styled.accordion{
    width: 90% !important;
  }

  // settings // 
  .bot-settings{
    width: 85% !important;

    .information-account{
      justify-content: space-around;
      text-align: center;

      .left,.right{
        width: auto !important;
      }

      .item{
        display: block !important;
        padding: 1.5em .2em !important;

        .desc{
          padding-right: 1em !important;
          font-size: 1.2em !important;
        }

        .object{
          padding-top: .5em;
          font-size: 1.05em !important;
        }
      }
    }

    .section{
      display: block !important;

      .work, .task{
        width: 100% !important;
      }
    }
  }

  .user-content{
    width: 100% !important;
  }

  // add bot //
  .modal-div-form{
    .data{
      width: 70% !important;

      p{
        display: block !important;
      }
    }

    .custom{
      padding: 0 !important;
      padding-top: 1em !important;
    }
  }

  // edit bot //
  .edit-information{
    display: block !important;

    .left{
      padding-bottom: 1em;
    }

    .left,.right{
      width: auto !important;
    }

    .item:first-child{
      padding-bottom: 1em !important;
    }
  }

  // custom error // 

  .error-information{
    .container{
      width: 85% !important;

      h1{
        font-size: 1.7em;
      }

      .left{
        text-align: center;
      }

      .information{
        font-size: 1em !important;
      }
    }
  }

}

@media only screen and (max-width: $width_mobile) and (min-width: $width_small_mobile){
  .home-bcga{
    .about{
      padding-top: 6.5em;
    }
  }
}

@media only screen and (max-width: $width_laptops) and (min-width: $width_mobile){
  .home-bcga{
    background-image: url("/static/img/home/background-lap.png");

    .introduction{
      width: 96%;
      margin: auto;

      .left{
        img{
          width: 97%;
        }
      }

      .right{
        margin-right: 1em;
        padding-top: 5em;

        h1{
          font-size: 2.15em;
        }

        .description{
          font-size: 1.2em;
          width: 90%;
          padding-left: .7em;
        }
      }
    }

    .about{
      padding-top: 2.2em;

      h1{
        margin: .6em 0;
      }
    
      .blocks{
        width: 95%;
        margin-top: 3em;
      }
    }
  }

  .pricing{
    h1{
      margin: 2vh 0;
    }

    .plans{
      margin-top: 1.5em;
      width: 90%;
    }
  }

  .ui.horizontal.divider.fitted.header.shop{
    top: 919px;
  }

  .ui.statistics{
    width: 100%;
  }

  .ui.horizontal.divider.fitted.header.stat{
    top: 1857px;
  }

  .dashboard{
    width: 100% !important;

    .bots{
      width: 95% !important;
    }
  }

  // navbar //
  .navbar{
    width: 100%;

    .logo{
      width: 176px;
      height: 68px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  // user shop //
  .shop{
    h1{
      padding-top: 1.25em !important;
    }
    
    .plans{
      width: 100% !important;
      margin-top: 3.5em !important;
    }
  } 

  // profile //
  .card-profile{
    .item:first-child{
      width: 30% !important;
    }
  }

  // user footer // 
  .user-footer{
    display: none;
  }

   // settings // 
  .bot-settings{
    width: 65% !important;

    .information-account{
      justify-content: space-around;
      text-align: center;

      .item{
        display: block !important;
        padding: 1.5em .2em !important;

        .desc{
          padding-right: 1em !important;
        }

        .object{
          padding-top: .5em;
        }
      }
      
    }

    .left,.right{
      width: auto !important;
    }
  }
}