.regulation-container{
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.781);

    .topic{
        font-size: 2.2em;
        color: $black;
        padding-top: 2em;
    }
    .desc{
        width: 92%;
        margin: auto;
        padding-top: 1em;
        color: rgba(59, 59, 59, 0.767);
    }

    .block{
        padding: 3em;
        padding-bottom: 0;

        .header{
        font-size: 1.5em;
        font-weight: bold;
        padding-bottom: .7em;
        }

        .line{
        border-bottom: 1px solid rgba(63, 63, 63, 0.178);
        }

        .policy-info{
        padding-left: 0 !important;
        }

        .informations, .policy-info{
        padding-left: 1em;

        .item{
            padding: 1em;
            font-size: 1.1em;
        }
    }

        ul{
        margin-bottom: 0;
        margin-top: .6em;
        }
  
      ol{
        margin-top: 0;
      }
  
      li{
        padding-bottom: .7em;
      }
  
      li:last-child{
        padding-bottom: 0;
      }
    }
  
    .block:last-child{
      padding-bottom: 4em;
    }
  }