{% load static %}

<div class="ui modal buy-plan">
    <div class="header">
        Buy Plan
    </div>
    <div class="modal-div-form">
        <div class="description">
            <div class="text-center">Are you sure you want to buy a plan <div class="name"></div> for <div class="plan_price"></div> ?</div>
            <div class="custom actions">
                <div class="ui black deny button">
                    Cancel
                </div>
            </div>
        </div>
    </div>
</div>
{% include "modal/toasts.html" %}
<script src="{% static 'js/modal.js' %}"></script> 