{% load static %}

<div class="ui modal buy-plan">
    <div class="header">
        Buy Plan
    </div>
    <div class="modal-div-form">
        <div class="description">
            asgasdgerg
            <div class="custom actions">
                <div class="ui black deny button">
                    Cancel
                </div>
                <div class="ui spositive right labeled icon button">
                    Buy
                    <i class="shopping cart icon"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "modal/toasts.html" %}
<script src="{% static 'js/modal.js' %}"></script> 